body {
  font: 15px/1.5 Helvetica, sans-serif;
  padding: 0;
  margin:0;
  
}

.container {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

h1 {
  font: 20px;
  margin:0;
  padding:0;
}

section {
  border: 2px solid grey;
  padding: 10px;
}

section:not(:first-child){
  margin-top: -2px;
}

.item-list {
  border: 1px solid lightgrey;
  float:left;
  width: 90%;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
  min-height :120px;
}

li {
  font-family: Montserrat;
  padding: 0px 0px 5px 10px;
  text-align:left;
  cursor: pointer;
  border: 1px solid lightgrey;
  
}

.legend {
  padding:0;
  margin:0;
  margin-top:10px;
}

.plan:after , .excercise:after {
    content: "";
    display: table;
    clear: both;
}


.highlight{
  background-color: #cbdaf2;
}
  
li:hover {
  background-color: #cbdaf2;
}

input[type=button] {
  width:8%
}

.excercise input[type=text] {
  width : 100%;
}

.plan input[type=text] {
  width : 90%;
}

fieldset {

  width:33%
}